body{
    padding: 25px;
    text-align: center;
    background-color: #D2F3E9;
  }

p {
  size: 8px;
  color: #FFFFFF;
}

  .hometitle {
	color: #FFFFFF;
	text-align: center;
}
  .title {
      color: #000000;
      text-align: center;
      font-size: 40px;
      font-family: Georgia;
  }
  
  .filler {
    padding: 12px;
  }
  
  div{
    padding-left: 12px;
    padding-right: 12px;
    justify-content: center;
    align-items: center;
  }
  .div1 {
    background-color: #73B6A9;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  
  .div2 {
    background-color: #73B6B3;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

  .div2b {
    background-color: #73B6B3;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 25px;
  }
  
  .div3 {
    background-color: #73B2B6;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  
  .div4 {
    background-color: #73AAB6;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }
  
  .div5 {
    background-color: #739CB6;
    border-style: solid;
    border-color: black;
    border-width: 5px;
  }

  .searchbox {
    background-color: #2d739e;
    border-style: dashed;
    border-color: rgb(21, 28, 104);
    border-width: 2px;
    padding: 25px;
    width: 250px;
    font-size: 16px;
    font-family: Georgia;
    color: #CBEDEE;
    text-align: center;
  }

  .error {
    background-color: black;
    color: white;
    font-size: 15px;
    border-color: red;
    border-width: 10px;
    border-style: dashed;
    text-align: center;
  }