<!DOCTYPE html>
<html>
  <head>
    <title> Basic Weather App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  
  <body>
    <h1 class="title"> {{name}} </h1>
    <div class="div1"> 
      <p text-align: center> --- DATE --- </p>
      <h3> {{today}}</h3>
      <p text-align: center> --- DATE --- </p>
    </div>
    
    <div class="filler"></div>
    
    <div class="div2">
      <p text-align: center> --- TEMPERATURE --- </p>
      <h3> {{temp}} °C </h3>
      <p text-align: center> --- TEMPERATURE --- </p>
    </div>
      
    <div class="filler"></div>
      
    <div class="div3">
      <p text-align: center> --- WEATHER DESCRIPTION --- </p>
      <h3> {{weather_description}} </h3>
      <p text-align: center> --- WEATHER DESCRIPTION --- </p>
    </div>
    
    <div class="filler"></div>
      
    <div class="div4">
      <p text-align: center> --- HUMIDITY --- </p>
      <h3> {{humidity}} % </h3>
      <p text-align: center> --- HUMIDITY --- </p>
    </div>
    
    <div class="filler"></div>
      
    <div class="div5">
      <p text-align: center> --- WIND SPEED --- </p>
      <h3> {{wind_speed}} m/s </h3>
      <p text-align: center> --- WIND SPEED --- </p>
    </div>
    
    <div class="filler"></div>

    <a href="/" class="button-link">Back Home</a>
    
  </body>
</html>