<!DOCTYPE html>
<html>
  <head>
    <title> Basic Weather App </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  
  <body>
    <h1 class="title"> {{name}} </h1>
    <div class="div1"> 
      <h4 text-align: center> --- DATE --- </h4>
      <p> {{today}}</p>
      <script src="script.js"></script>
      <h4 text-align: center> --- DATE --- </h4>
    </div>
    
    <div class="filler"></div>
    
    <div class="div2">
      <h4 text-align: center> --- TEMPERATURE --- </h4>
      <p> {{temp}} °C </p>
      <script src="script.js"></script>
      <h4 text-align: center> --- TEMPERATURE --- </h4>
    </div>
      
    <div class="filler">
      
    <div class="div3">
      <h4 text-align: center> --- WEATHER DESCRIPTION --- </h4>
      <p> {{weather_description}} </p>
      <script src="script.js"></script>
      <h4 text-align: center> --- WEATHER DESCRIPTION --- </h4>
    </div>
    
    <div class="filler">
      
    <div class="div4">
      <h4 text-align: center> --- HUMIDITY --- </h4>
      <p> {{humidity}} % </p>
      <script src="script.js"></script>
      <h4 text-align: center> --- HUMIDITY --- </h4>
    </div>
    
    <div class="filler">
      
    <div class="div5">
      <h4 text-align: center> --- WIND SPEED --- </h4>
      <p> {{wind_speed}} m/s </p>
      <script src="script.js"></script>
      <h4 text-align: center> --- WIND SPEED --- </h4>
    </div>
    
    
  </body>
</html>